.gallery {
  position: relative;
  background-image: url('../img/gallery/320/birmingham-museums-trust-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 800px;
  min-width: 0;
  padding-top: 50px;
  padding-bottom: 43px;
}

/* filter ================================================================================ */
.gallery-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-filter__up {
  display: flex;
  flex-direction: column;
}

.gallery-filter__title {
  color: var(--text-alt);
}

.gallery-filter__text {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-alt);
}

/* checkbox ================================================ */
.checkboxes-group {
  margin: 0;
  padding: 0;
  border: none;
}

.checkbox {
  position: relative;
  height: 32px;
}

.checkbox-hidden {
  position: absolute;
  left: -30px;
  opacity: 0;
  z-index: -1;
}

.checkbox__label {
  padding-left: 24px;
  position: relative;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-alt);
  transition: color .2s linear;
  z-index: 0;
  cursor: pointer;
}

.checkbox-scene {
  position: absolute;
  left: 0;
  top: 5px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--text-alt);
  transition: border-color .2s linear;
}

/* точка внутри checkbox'a */
.checkbox-scene:before {
  content: '';
  position: absolute;
  top: 30%;
  left: 30%;
  width: 2px;
  height: 2px;
  border: 2px solid var(--link-hover);
  border-radius: 100%;
  opacity: 0;
  transition: opacity .2s linear;
}

.checkbox__label:hover  {
  color: var(--link-hover);
}

.checkbox__label:hover > .checkbox-scene {
  border-color: var(--link-hover);
}

.checkbox-hidden:focus-visible + .checkbox__label,
.checkbox-hidden:focus-visible + .checkbox__label > .checkbox-scene {
  border-color: var(--link-hover);
  color: var(--link-hover);
}

.checkbox-hidden:checked + .checkbox__label,
.checkbox-hidden:checked + .checkbox__label > .checkbox-scene {
  border-color: var(--link-hover);
  color: var(--link-hover);
}

.checkbox-hidden:checked + .checkbox__label > .checkbox-scene:before {
  opacity: 1;
}

/* slider =================================================== */
.gallery__slider {
  display: flex;
  flex-direction: column;
}

.gallery__swiper {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 22px;
  overflow: hidden;
  max-width: 290px;
}

.gallery .swiper-slide {
  position: relative;
  justify-content: center;
  cursor: pointer;
}

.gallery .swiper-slide::before {
  content: '';
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  background: rgba(0, 0, 0, .5);
  background-image: url('../img/gallery/gallery_zoom.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.gallery .swiper-slide::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.gallery .swiper-slide:hover::before {
  opacity: 1;
}

.gallery .swiper-slide:focus-visible {
  outline: 3px solid var(--purp-active);
}

.gallery .swiper-slide:active {
  outline: 2px solid var(--purp-accordion);
  outline-offset: -2px;
}

.gallery .swiper-slide:active::after {
  opacity: 1;
}

/* контейнер навигации слайдера ==========================  */
.gallery__nav {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -5px;
  width: 132px;
}

.gallery__button-next, .gallery__button-prev {
  top: 0;
  margin-top: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-size: 12px;
  color: white;
  background-color: #666;
  transition-property: border, background-color;
  transition-timing-function: linear;
  transition-duration: .2s;
  z-index: 0;
}

.gallery__button-next {
  right: 0;
}

.gallery__button-prev {
  left: 0;
}

.gallery__button-next:hover, .gallery__button-prev:hover {
  background-color: var(--purp-main);
}

.gallery__button-next:focus-visible, .gallery__button-prev:focus-visible {
  border:  2px solid #000000;
}

.gallery__button-next:active, .gallery__button-prev:active {
  border:  2px solid #000000;
  background-color: var(--purp-active);
}

.gallery__button-next:after, .gallery__button-prev:after {
  font-size: 12px;
}

/* фракция =====================================  */
.swiper-pagination {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-alt);
  z-index: 0;
}

.swiper-pagination-fraction {
  bottom: auto;
  width: 51px;
}

/* ссылка на картине галереи ===================== */
.gallery__link {
  font-size: 0;
  outline-offset: -2px;
  outline: 3px solid transparent;
  transition-property: outline;
  transition-timing-function: ease-in;
  transition-duration: .2s;
}

/* модальное окно =================================== */
.gallery-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.modal-active {
  visibility: visible;
  opacity: 1;
  transform: none;
  transition: opacity .4s ease-out;
}

.gallery-modal__wrapper {
  padding: 50px 0;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  background-color: transparent;
}

.gallery-modal__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 500px;
  transform: scale(0);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
}

.modal-active .gallery-modal__content {
  transform: scale(1);
  transition: transform .4s ease-out;
}

.gallery-modal__content-img {
  max-height: 200px;
  flex-grow: 1;
  overflow-y: hidden;
}

.gallery-modal__content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.gallery-modal__content-descr {
  height: 100%;
  padding: 10px 21px 20px;
  background-color: white;
}

.gallery-modal__artist {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.gallery-modal__art {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.gallery-modal__ages {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

/* кнопка закрытия модального окна =========================================== */
.gallery-modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
}

.gallery-modal__close-btn path {
  transition: fill 0.2s linear;
}

.gallery-modal__close-btn:hover:not(:focus-visible) path,
.gallery-modal__close-btn:focus-visible path{
  fill: var(--purp-main)
}

.gallery-modal__close-btn:active:not(:focus-visible) path {
  fill: var(--purp-active)
}
